
@{
    ViewBag.Title = "GetEmployee";
}

<h2>Employee Details</h2>
<table class="table table-bordered table-hover table-responsive">
    <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Address</th>
        <th>Date of Joining</th>
        <th>Maritial Status</th>
        <th>Is Eligible For Loan</th>
        <th>Salary</th>
        <th>Created By</th>
     
        <th>Action</th> 
    </tr>

    @foreach(var employee in ViewBag.Employees)
    {
    <tr>
        <td>@employee.EmployeeID</td>
        <td>@employee.EmployeeName</td>
        <td>@employee.Address</td>
        <td>@employee.DateofJoining</td>
        <td>@if (employee.MartialStatus == 1)
        {
            <p> Married</p>
        }
        else { 
            <p>Single</p>
        }
        </td>
        <td>@employee.IsElligibleForLoan</td>
        <td>@employee.Salary</td>
        <td>@employee.CreatedBy</td>
        
        <td>
           <button type="button" class="btn btn-primary btn-sm">Edit</button>
           <button type="button" class="btn btn-danger btn-sm">Delete</button>
        </td>
   
    </tr>

    }

</table>

